
.price{
    width: 170px;
}
.row{
    width: 10%;
}
.other{
    width:98%;
    border-style:none;
}
.quan{
    width:40px;
    border-style:none;
}
.much{
    border-style:none;
}
.memo{
    border-style:none;
}
#sum{
    width:8px;

}
#diff{
    width: 400px;
}
.txt{
    width: 100%;
}