.button{
    padding: 40px;
    width: 180px;
    border: 3px;
    font-size: 17px;
    color:white;
    background-color: #72ac21;
}
.button:hover{
    background: rgb(168, 187, 169);
}
.button:active{
    background: #69821b;
}

.price{
    background-color: lightblue;
    width: 170px;
}
.row{
    width: 10%;
}
.other{
    width:98%;
}